*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

a{
    text-decoration: none;
}

.top{
    background-color: #08101E;
    padding-bottom: 99px;

}

.flex{
    display: flex;
    justify-content: space-between;
}


.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

.header__lincs{
    padding: 39px 2%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.top__content{
    margin-bottom: 197px;
}

.container{
    max-width: 1194px;
    margin: 0 auto;
}

.top__block1{
    padding: 0 2%;
}

.top__info{
    width: 45%;
}

.top_info__subtitle{
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
}

.top_info__title{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
}

.top_info__text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;

}

.top_info__buttons{
    display: flex;
    margin-top: 50px;
    gap: 4%;    
}

.button{
    border-radius: 5px;
    text-decoration: none;
    /* #3A68B8 */
    background: rgb(58, 104, 184);
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.button:hover{
    color: rgb(58, 104, 184);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(58, 104, 184);
}

.fa{
    margin: 0 10px 0 0;
}

.top__logos{
    background-color: #08101E;
}

.logo{
    padding: 0 2%;
}

.top__next{
    background: rgb(2, 10, 24);;
    padding-top: 157px;
    padding-bottom: 221px;
}

.next__content{
    padding: 0 2%;
    margin-bottom: 264px;
    align-items: center;
    flex-direction: row;
    gap: 10%;
}

.next__info_title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.next__info_text{
    margin-top: 30px;
    color: rgb(255, 255, 255);   
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}

.next__info_buttons{
    display: flex;
    margin-top: 50px;
}


.next__grid_bloсk{
    /* gap: 2%; */
    padding: 0 2%;
    margin-bottom: 243px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    
}

.next__bloсk{
    padding: 5%;
    border-radius: 10px;
    display: flex;
    background: rgb(19, 32, 53);
    flex-direction: column;
    align-items: center;
}

.block_image{
    max-width: 30%;
}

.next__block_subtitle{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
    opacity: 0.7;
}

.next__block_text{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
}

.info4{
    grid-area: 2/1/4/3;

}

.next__content2{
    gap: 25px;
}

.content2__info{
    margin-top: 14px;
    margin-bottom: 14px;
    max-width: 50%;
}

.content2__title{
    
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.content2__text{
    max-width: 82%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}


.foter{
    background-color: #08101E;
    padding-top: 48px;
    padding-bottom: 46.11px;
}

.foter__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30.18px;
    
}

.foter__info_title, .foter__about_title, .foter__social_title{
    margin-bottom: 33px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.flex_foter{
    display: flex;
}

.email, .phone, .location{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.email{
    padding-bottom: 24.4px;
}

.phone{
    padding-bottom: 26px;
}

.foter__about_text{
    opacity: 0.6;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    text-align: left;
    max-width: 74%;
}

.foter__social_site{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.foter__social_icon{
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

.fa-brands{
    font-size: 16px;
}