*{
    margin: 0;
    padding: 0;
}

.top{
    padding-bottom: 99px;
}

.header{
    padding: 39px;
}

.top__content{
    margin-top: 160px;
    margin-bottom: 197px;
}

.top_info__subtitle{
    margin-bottom: 10px;
}

.top_info__title{
    margin-bottom: 40px;
}

.top_info__buttons{
    margin-top: 50px;
}