*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #08101E;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.top{
    padding-bottom: 99px;
}

.nav{
    display: flex;
    justify-content: center;

}

.header__lincs{
    padding: 39px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-decoration: none;
}

.container{
    max-width: 1147px;
    margin: 0 auto;
    
}

.top__content{
    margin-top: 160px;
    margin-bottom: 197px;
    
}

.top__info{
    width: 45%;
}

.top_info__subtitle{
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
}

.top_info__title{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
}

.top_info__text{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;

}

.top_info__buttons{
    display: flex;
    margin-top: 50px;
    gap: 20px;    
}

.top__next{
    background: rgb(2, 10, 24);;
}

.next__content{
    margin-top: 157px;
    display: flex;
    justify-content: space-between;
}

.next__content_info{
    padding-left: 68px;
    padding-top: 117px;
}

.next__info_title{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.next__info_text{
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}


.button{
    border-radius: 5px;
    text-decoration: none;
    /* #3A68B8 */
    background: rgb(58, 104, 184);
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.button:hover{
    color: rgb(58, 104, 184);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(58, 104, 184);
}

.fa{
    margin: 0 10px;
}
