*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

a{
    text-decoration: none;
}

.top{
    background-color: #08101E;
    padding-bottom: 99px;

}

.flex{
    display: flex;
    justify-content: space-between;
}


.nav{
    display: flex;
    justify-content: center;
    margin-bottom: 16vmin;
}

.header__lincs{
    padding: 1em 2%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.top__content{
    margin-bottom: 197px;
}

.container{
    max-width: 1194px;
    margin: 0 auto;
}

.top__block1{
    padding: 0 2%;
    gap: 7%;
}

.top__info{
    min-width: 45%;
}

.top_info__subtitle{
    margin-bottom: 10px;
    color: rgb(58, 104, 184);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
}

.top_info__title{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
}

.top_info__text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;

}

.top_info__buttons{
    display: flex;
    margin-top: 50px;
    gap: 2vh;
    flex-wrap: wrap;    
}

.button{
    border-radius: 5px;
    text-decoration: none;
    /* #3A68B8 */
    background: rgb(58, 104, 184);
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.button:hover{
    color: rgb(58, 104, 184);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(58, 104, 184);
}

.fa{
    margin: 0 10px 0 0;
}

.top__jpg{
    min-width: 35%;
}

.top__logos{
    background-color: #08101E;
}

.logo{
    padding: 0 2%;
    flex-wrap: wrap;
    max-width: 100vw;
    justify-content: center;
    gap: 5%;
}

.logo_images{
    max-width: 100%;
}

.top__next{
    background: rgb(2, 10, 24);;
    padding-top: 157px;
    padding-bottom: 221px;
}

.next__content{
    padding: 0 2%;
    margin-bottom: 264px;
    align-items: center;
    flex-direction: row;
    gap: 7%;
}

.next__content_img{
    min-width: 35%;
}

.next__content_info{
    max-width: 30%;
}

.next__info_title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;

}

.next__info_text{
    margin-top: 30px;
    color: rgb(255, 255, 255);   
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}

.next__info_buttons{
    display: flex;
    margin-top: 50px;
}


.next__grid_bloсk {
    gap: 2%;
    padding: 0 2%;
    margin-bottom: 243px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(28vh, 33%));
}

.next__bloсk{
    padding: 30px;
    border-radius: 10px;
    display: flex;
    background: rgb(19, 32, 53);
    flex-direction: column;
    align-items: center;
}

.block_image{
    max-width: 34%;
    margin-bottom: 30px;
}

.next__block_subtitle{
    max-height: 30%;
    margin-bottom: 9%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
    opacity: 0.7;
}

.next__block_text{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
}

.big_block{
    padding: 4%;
    grid-area: 2/1/4/3;
}

.big_image{
    max-width: 30%;
    margin-bottom: 60px;
}

.next__content2{
    padding: 0 2%;
}

.content2__info{
    margin-top: 14px;
    margin-bottom: 14px;
    min-width: 45%;
}

.content2__title{
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.content2__text--block{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}

.content2__text{
    margin-bottom: 4%;
}

.content2__img{
    max-width: 49%;
}

.foter{
    background-color: #08101E;
    padding: 3.14% 0 3%;
}

.foter__content{
    padding: 0 2%;
    display: flex;
    justify-content: start;

}

.foter__content_info, .foter__content_about, .foter__content_social{
    min-width: 33%;
}

.foter__info_title, .foter__about_title, .foter__social_title{
    margin-bottom: 33px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.flex_foter{
    display: flex;
}

.email, .phone, .location{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.email{
    padding-bottom: 24.4px;
}

.phone{
    padding-bottom: 26px;
}

.foter__about_text{
    opacity: 0.6;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    text-align: left;
    max-width: 73%;
}

.foter__social_site{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.foter__social_icon{
    display: flex;
    margin-top: 24px;
    gap: 7%;
}

.fa-brands{
    font-size: 16px;
}

@media screen and (max-width: 849px){
    .flex{
        flex-wrap: wrap;
        align-content: center;
    }

    .container{
        max-width: 604px;
        margin: 0 auto;
    }
    
    .top__info{
        max-width: 100%;
    }

    .top_info__subtitle{
        font-size: 16px;
    }

    .top_info__title{
        font-size: 48px;
    }

    .top__block1{
        flex-direction: column;
        gap:12vh;
    }

    .next__content, .next__content2{
        flex-direction: column;
        gap:5vh;
    }

    .logo{
        gap: 3vh;
    }

    .next__content_info{
        max-width: 84%;
    }

    .next__content_img, .top__jpg, .content2__img{
        max-width: 100%;
    }

    .button_adaptiv{
        font-size: 16px;
        line-height: 22px;
    }

    .next__grid_bloсk{
        grid-template-columns: 362px;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
    }


    .big_block, .info5, .info6{
        display: none;
    }

    .content2__info{
        max-width: 95%;
    }

    .foter__responsive{
        min-width: 95vw;
    }

    .foter__content{
        flex-wrap: wrap;
        gap: 4vh
    }

    .foter__content_info, .foter__content_about, .foter__content_social{
        min-width: 40%;
        max-width: 50%;

    }
}

@media  screen and (max-width:430px) {
    .header__lincs, .top_info__subtitle{
        font-size: 14px;
    }

    .container{
        max-width: 95vw;
        margin: 0 auto;
    }
    
    .flex{
        align-items: center;
    }

    .top{
        padding-bottom: 116px;
    }

    .top__content{
        margin-bottom: 33vmin;    
    }

    .top__info,.next__content_info{
        max-width: 96%;
    }

    .top_info__subtitle, .top_info__text, .next__info_title, .next__info_text{
        text-align: center;
    }

    .top_info__title{
        font-size: 28px;
        text-align: center;
    }

    .top_info__buttons, .next__info_buttons{
        justify-content: center;
    }

    .next__content,.next__grid_bloсk{
        margin-bottom: 30vmin;
    }

    .next__info_title{
        font-size: 24px;
    }

    .button_adaptiv{
        font-size: 16px;
        line-height: 22px;
    }

    .top__jpg, .next__content_img{
        max-width: 95%;
    }

    .top__next{
        padding-top: 96px;

    }

    .next__grid_bloсk{
        grid-template-columns: 100%;
    }


    .content2__info{
        max-width: 90%;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content2__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        text-align: center;
    }

    .content2__text{
        text-align: center;
    }

    .foter{
        padding-top: 113px;
    }

    .foter__content{
        justify-content: center;
    }

    .foter__content_info{

        min-width: 100%;
    }

    .foter__content_about{
        order: -1;
        max-width: 100%;
    }

    .foter__about_title,.foter__info_title,.foter__social_title,.foter__social_site{
        text-align: center;
    }

    .foter__about_text{
        max-width: 80%;
    }

    .foter__content_social{
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media  screen and (max-width: 341px) {
    .block_image{
        display: none;
    }

    .next__block_subtitle{
        max-height: 37%;
    }

    .next__block_subtitle{
        font-size: 17px;
    }
    
}